.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}
body{
    background-color: blueviolet;
    color: aliceblue;
}
#status
{
font-size: 18px;
}
canvas{
    box-shadow: 10px 10px rgb(56, 37, 73);
    border-radius: 10px;
}